version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    env_file:
      - backend/.env
    ports:
      - "4000:3000"

  frontend:
    build: ./frontend
    container_name: frontend
    env_file:
      - frontend/.env
    ports:
      - "3000:3000"
    depends_on:
      - backend
